{% extends "layout.html" %}

{% block body %}
<table>
    <tr>
        <th>Auction</th>
        <th>Highest bid</th>
        <th>Highest bidder</th>
        <th>Ends</th>
    </tr>
    {% for auction in auctions %}
    <tr>
        <td>
            <a href="{{ url_for('auctions_view', auction_id = auction.id) }}">
                {{ auction.title }}
            </a>
        </td>
        <td>
            {{ auction.highest_bid }}
        </td>
        <td>
            {{ auction.highest_bidder }}
        </td>
        <td>
            {{ auction.date_ends }}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
