{% extends "layout.html" %}
  
{% block body %}

<form method="POST" action="{{ url_for('auctions_create') }}">
    <table>
        <tr>
            <td>
                {{ form.title.label }}
            </td>
            <td>
                {{ form.title }}
            </td>
            <td>
                <ul>
                    {% for error in form.title.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                {{ form.description.label }}            
            </td>
            <td>
                {{ form.description }}
            </td>
            <td>
                <ul>
                    {% for error in form.description.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                {{ form.minimum_bid.label }}
            </td>
            <td>
                {{ form.minimum_bid }}
            </td>
            <td>
                <ul>
                    {% for error in form.minimum_bid.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                {{ form.date_ends.label }}
            </td>
            <td>
                {{ form.date_ends }}
            </td>
            <td>
                <ul>
                    {% for error in form.date_ends.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Add a new auction"/>
            </td>
        </tr>
    </table>
</form>

{% endblock %}
