{% extends "layout.html" %}

{% block body %}

<h3>
    Auction details
</h3>

<table>
    <tr>
        <td>
            Title
        </td>
        <td>
            {{ auction.title }}
        </td>
    </tr>
    <tr>
        <td>
            Description
        </td>
        <td>
            {{ auction.description }}
        </td>
    </tr>
    <tr>
        <td>
            Created
        </td>
        <td>
            {{ auction.date_created.strftime('%Y-%m-%d %H:%M') }}
        </td>
    </tr>
    <tr>
        <td>
            Ends
        </td>
        <td>
            {{ auction.date_ends.strftime('%Y-%m-%d %H:%M') }} - <i>
                {% if ended == 1 %}
                    ended
                {% else %}
                    {{ days_to_go }} days remaining
                {% endif %}
            </i>
        </td>
    </tr>
    <tr>
        <td>
            Seller
        </td>
        <td>
            {% if ended == 1 and current_user.id == highest_bid.id %}
                {{ seller.name }}, <b>{{ seller.email }}</b>
            {% else %}
                {{ seller.name }}
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>
            Minimum bid
        </td>
        <td>
            {{ auction.minimum_bid }}
        </td>
    </tr>
    <tr>

    </tr>
    <tr>
        <td>
            Winning bid
        </td>
        <td>
            {% if highest_bid.amount == 0 %}
            no bids
            {% else %}
                {% if ended == 1 and current_user.id == seller.id %}
                    <b>{{ highest_bid.amount }}</b> by <i>{{ highest_bid.bidder }}</i>, <b>{{ highest_bid.email }}</b>
                {% else %}
                    <b>{{ highest_bid.amount }}</b> by <i>{{ highest_bid.bidder }}</i>
                {% endif %}
            {% endif %}
        </td>
    </tr>
</table>

<p/>
<br/>

<h3>
    Bidding
</h3>

{% if ended == 0 and edit_mode == 0 %}
<form method="POST" 
      action="{{ url_for('auctions_view', auction_id = auction.id) }}">
    <table>
        <tr>
            <td>
                {{ form.amount.label }}
            </td>
            <td>
                {{ form.amount }}
            </td>
            <td>
                <ul>
                    {% for error in form.amount.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Place bid"/>
            </td>
            <td>
                <span style='color: red'>{{ biderror }}</span>
            </td>
        </tr>
    </table>
</form>
{% endif %}

<p/>

<table>
    <tr>
        <th>Amount</th>
        <th>Bidder</th>
        <th>Date</th>
    </tr>
    {% for bid in bids %}
    <tr>
        <td>{{ bid.amount }}</td>
        <td>{{ bid.bidder }}</td>
        <td>{{ bid.date }}</td>
    </tr>
    {% endfor %}
</table>

<p/>
<br/>

<h3>
    Messages
</h3>

{% if ended == 0 and edit_mode == 0 %}
<form method="POST"
      action="{{ url_for('messages_create', auction_id = auction.id) }}">
    <table>
        <tr>
            <td>
                {{ form.message.label }}
            </td>
            <td>
                {{ form.message }}
            </td>
            <td>
                <ul>
                    {% for error in form.message.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Post message"/>
            </td>
        </tr>
    </table>
</form>
{% endif %}

<p/>

{% if edit_mode == 1 %}
    <form method="POST" action="{{ url_for('messages_edit', message_id = edit_message_id) }}">
{% endif %}

<table>
    <tr>
        <th>Delete</th>
        <th>Edit</th>
        <th>By</th>
        <th>Message</th>
        {% if edit_mode == 0 %}
            <th>Created</th>
            <th>Edited</th>
        {% endif %}
    </tr>
    {% for message in messages %}
        <tr>
            <td>
                {% if edit_mode == 0 and current_user.id == message.author_id %}
                    <form method="POST" action="{{ url_for('messages_delete', message_id = message.id) }}">
                        <input type="submit" value="Delete"/>
                    </form>
                {% endif %}
            </td>
            <td>
                {% if edit_mode == 1 %}
                    {% if message.id == edit_message_id %}
                        <input type="submit" value="Apply"/>
                    {% endif %}
                {% else %}
                    {% if current_user.id == message.author_id %}
                        <form method="GET" action="{{ url_for('messages_edit', message_id = message.id) }}">
                            <input type="submit" value="Edit"/>
                        </form>
                    {% endif %}
                {% endif %}
            </td>
            <td>{{ message.author }}</td>
            {% if edit_mode == 1 and message.id == edit_message_id %}
                <td>{{ form.message_edit }}</td>
            {% else %}
                {% if auction.account_id == message.author_id %}
                    <td><b>{{ message.body }}</b></td>
                {% else %}
                    <td>{{ message.body }}</td>
                {% endif %}
            {% endif %}

            {% if edit_mode == 0 %}
                <td>{{ message.date_created }}</td>
                <td>{{ message.date_modified }}</td>
            {% else %}
                <td>
                    {% if message.id == edit_message_id %}
                    <ul>
                        {% for error in form.message_edit.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </td>
            {% endif %}
        </tr>
    {% endfor %}
</table>

{% if edit_mode == 1 %}
    </form>
{% endif %}

{% endblock %}
