{% extends "layout.html" %}

{% block body %}

<table>
    <tr>
        <td colspan="2">
            <b>Auction details</b>
        </td>
    </tr>
    <tr>
        <td>
            Title
        </td>
        <td>
            {{ auction.title }}
        </td>
    </tr>
    <tr>
        <td>
            Description
        </td>
        <td>
            {{ auction.description }}
        </td>
    </tr>
    <tr>
        <td>
            Created
        </td>
        <td>
            {{ auction.date_created }}
        </td>
    </tr>
    <tr>
        <td>
            Ends
        </td>
        <td>
            {{ auction.date_ends }} - <i>
                {% if ended == 1 %}
                    ended
                {% else %}
                    {{ days_to_go }} days remaining
                {% endif %}
            </i>
        </td>
    </tr>
    <tr>
        <td>
            Seller
        </td>
        <td>
            {{ seller }}
        </td>
    </tr>
    <tr>
        <td>
            Minimum bid
        </td>
        <td>
            {{ auction.minimum_bid }}
        </td>
    </tr>
    <tr>

    </tr>
    <tr>
        <td>
            Winning bid
        </td>
        <td>
            {% if highest_bid.amount == 0 %}
            no bids
            {% else %}
            <b>{{ highest_bid.amount }}</b> by <i>{{ highest_bid.bidder }}</i>
            {% endif %}
        </td>
    </tr>
</table>

<p/>

<form method="POST" action="{{ url_for('auctions_index') }}/{{ auction.id }}/">
    <table>
        <tr>
            <td>
                {{ form.amount.label }}
            </td>
            <td>
                {{ form.amount }}
            </td>
            <td>
                <ul>
                    {% for error in form.amount.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Place bid"/>
            </td>
            <td>
                <span style='color: red'>{{ biderror }}</span>
            </td>
        </tr>
    </table>
</form>
<p/>
<table>
    <tr>
        <th>Amount</th>
        <th>Bidder</th>
        <th>Date</th>
    </tr>
    {% for bid in bids %}
    <tr>
        <td>{{ bid.amount }}</td>
        <td>{{ bid.bidder }}</td>
        <td>{{ bid.date }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
