{% extends "layout.html" %}

{% block body %}

<h3>My account</h3>

<table>
    <tr>
        <td>
            Name
        </td>
        <td>
            {{ user.name }}
        </td>
    </tr>
    <tr>
        <td>
            Account
        </td>
        <td>
            {{ user.username }}
        </td>
    </tr>
    <tr>
        <td>
            Created
        </td>
        <td>
            {{ user.date_created }}
        </td>
    </tr>
</table>

<p/>
<br/>

<h3>My auctions</h3>

<table>
    <tr>
        <th>Auction</th>
        <th>Highest bid</th>
    </tr>
    {% for auction in auctions %}
    <tr>
        <td>
            <a href="{{ url_for('auctions_view', auction_id = auction.id) }}">
                {{ auction.title }}
            </a>
        </td>
        <td>
            {{ auction.highest_bid }}
        </td>
        <td>
            <form method="POST" action="{{ url_for('auctions_delete', auction_id = auction.id) }}">
                <input type="submit" value="Delete auction">
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
<p/>
<br/>

<h3>My bids</h3>

<table>
    <tr>
        <th>Auction</th>
        <th>My bid</th>
    </tr>
    {% for auction in bids %}
    <tr>
        <td>
            <a href="{{ url_for('auctions_view', auction_id = auction.id) }}">
                {{ auction.title }}
            </a>
        </td>
        <td>
            {{ auction.my_bid }}
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
